<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/globals.css" />
		<link rel="stylesheet" href="/css/output.css" />
		<title><%= title %></title>
	</head>
	<body class="flex flex-col min-h-screen bg-white">
		<%- include('../partials/navbar') %>
		<main class="flex flex-col grow"><%- include(body) %></main>
		<%- include('../partials/footer') %>
		<script src="/js/flowbite.min.js"></script>
	</body>
</html>
